
<form class="" action=<%= sessions_url %> method="post">
  <h3>Sign In!</h3>
  <%= auth_token %>
  <label for="">Username</label>
  <input type="text" name="user[username]" value=""><br></br>
  <label for="">Password</label>
  <input type="password" name="user[password]" value=""><br></br>
  <input type="submit" value="Sign In">
</form>
