<form class="" action="/users" method="post">
  <h3>Sign Up!</h3>
  <%= auth_token %>
  <label>Username</label>
  <input type="text" name="user[username]" value=""><br></br>
  <label>Password</label>
  <input type="password" name="user[password]" value=""><br></br>
  <input type="submit" value="Create Account">
</form>
