<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="../assets/SolarFlare.webm" type="video/webm">
        <!-- <source src="video/big_buck_bunny.mp4" type="video/mp4">
        <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
    </video>
    <!-- <%= video_tag 'GalaxyEvolutionAnimation[360p].webm' %> -->
</div>
<div class="content">
  <div class="container six columns intro center-align">
    <h5>Everyday thousands of scientists around the world make AMAZING discoveries.</h5></br>
    <h5>Everyday millions of people wonder where the edge of our knowledge is.</h5></br>
    <h5>Explore and share. Let your curiosity burn.</h5>
    <br></br>
    <br></br>
    <form action=<%= sessions_url %> method="post">
      <%= auth_token %>
      <input type="hidden" name="user[username]" value="user1">
      <input type="hidden" name="user[password]" value="password">
      <button class="submit">Demo User</a>
    </form>

  </div>
  <div class="container six columns">
    <form class="" action="/users" method="post">
      </br></br>
      <h3>Sign Up!</h3>
      <%= auth_token %>
      <label>Username</label>
      <input type="text" name="user[username]" value=""><br></br>
      <label>Password</label>
      <input type="password" name="user[password]" value=""><br></br>
      <div class="center-align">
        <button type="submit" class="icon fa-user">Create Account</button>
      </div>
      </br>
      </br>
    </form>
  </div>
</div>
